#success_message{ display: none;}

.input-group-addon {
  width: 7% !important;
}

.form-horizontal .has-feedback .form-control-feedback {
  right: 5px !important;
}

.input-group {
  display: block !important;
}

.input-group .date {
  display: !important;
}

legend {
    border-bottom: 1px dotted #888 !important;
}

body {
  background-color: #eee !important;
}

#comment {
  resize: vertical !important;
}

.dateContainer .form-control-feedback {
    top: 0;
    right: -15px;
}
