#success_message {
  display: none;
}

#map {
  width: 350px;
  height: 350px;
}

.image_wrapper > img {
  max-height: 100% !important;
  max-width: 100% !important;
  border: 3px;
  border-radius: 3px;
  image-rendering: pixelated !important;
}

#comment {
  resize: vertical !important;
  max-height: 300px !important;
}

article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

legend {
  border-bottom: 1px dotted #888 !important;
}

body {
  background-color: #ccc !important;
}

.image_wrapper {
  height: 200px;
  max-width: 350px;
  border: 3px;
  border-radius: 3px;
}

.captcha > .input-group {
  width: 201px;
}

.captcha > img {
  width: 200px;
  margin-bottom: 3px;
}

.captcha > h6 {
margin: 0 !important;
}

.input-group-addon {
  width: 7% !important;
}

.form-horizontal .has-feedback .form-control-feedback {
  right: 5px !important;
}

.input-group {
  display: block !important;
}

.input-group .date {
  display: !important;
}

.dateContainer .form-control-feedback {
  top: 0;
  right: -15px;
}

.input-group .form-control:first-child {
  border-radius: 5px !important;
  border-radius: 5px !important;
}

.btn {
  border: 1.5px outset #ddd !important;
  margin-top: 10px;
}
