#success_message {
  display: none;
}

#map {
  width: 350px;
  height: 350px;
}

img #image {
  height: 100%;
  image-rendering: pixelated !important;
}

#comment {
  resize: vertical !important;
  max-height: 300px !important;
}

article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.image_wrapper {
  height: 250px;
  width: 250px;
  border: 3px;
  border-radius: 3px;
}

.input-group-addon {
  width: 7% !important;
}

.form-horizontal .has-feedback .form-control-feedback {
  right: 5px !important;
}

.input-group {
  display: block !important;
}

.input-group .date {
  display: !important;
}

legend {
  border-bottom: 1px dotted #888 !important;
}

body {
  background-color: #eee !important;
}

.dateContainer .form-control-feedback {
  top: 0;
  right: -15px;
}

.input-group .form-control:first-child {
  border-radius: 5px !important;
  border-radius: 5px !important;
}
